<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="topmall.fas.repository.ShopCostRepository"> 
    <!-- auto generate -->
    
    <resultMap id="baseResultMap" type="topmall.fas.model.ShopCost">
           <id column="id" property="id" jdbcType="VARCHAR" />  
           <result column="ref_id" property="refId" jdbcType="VARCHAR" />  
           <result column="seq_id" property="seqId" jdbcType="VARCHAR" />  
           <result column="zone_no" property="zoneNo" jdbcType="VARCHAR" />  
           <result column="shop_no" property="shopNo" jdbcType="VARCHAR" />  
           <result column="counter_no" property="counterNo" jdbcType="VARCHAR" />  
           <result column="company_no" property="companyNo" jdbcType="VARCHAR" />  
           <result column="supplier_no" property="supplierNo" jdbcType="VARCHAR" />  
           <result column="settle_month" property="settleMonth" jdbcType="VARCHAR" />  
           <result column="cost_no" property="costNo" jdbcType="VARCHAR" />  
           <result column="settle_start_date" property="settleStartDate" jdbcType="DATE" />  
           <result column="settle_end_date" property="settleEndDate" jdbcType="DATE" />  
           <result column="number" property="number" jdbcType="INTEGER" />  
           <result column="status" property="status" jdbcType="TINYINT" />  
           <result column="remark" property="remark" jdbcType="VARCHAR" />  
           <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />  
           <result column="create_user" property="createUser" jdbcType="VARCHAR" />  
           <result column="auditor" property="auditor" jdbcType="VARCHAR" />  
           <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />  
           <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />  
    </resultMap>      
    
    
    <sql id="column_list"> 
        id,ref_id,seq_id,zone_no,shop_no,counter_no,company_no,supplier_no,settle_month,cost_no,settle_start_date,settle_end_date,number,status,remark,create_time,create_user,auditor,audit_time,update_time
    </sql>

    <sql id="condition">  1=1
    	<if test="null!=params">
            <if test="null!=params.queryCondition and ''!=params.queryCondition">
    			And ${params.queryCondition}
    		</if>
    		<if test="null!=params.id and ''!=params.id">
    			And id=#{params.id}
    		</if>
    		<if test="null!=params.refId and ''!=params.refId">
    			And ref_id=#{params.refId}
    		</if>
    		<if test="null!=params.seqId and ''!=params.seqId">
    			And seq_id=#{params.seqId}
    		</if>
    		<if test="null!=params.zoneNo and ''!=params.zoneNo">
    			And zone_no=#{params.zoneNo}
    		</if>
    		<if test="null!=params.shopNo and ''!=params.shopNo">
    			And shop_no=#{params.shopNo}
    		</if>
    		<if test="null!=params.counterNo and ''!=params.counterNo">
    			And counter_no=#{params.counterNo}
    		</if>
    		<if test="null!=params.companyNo and ''!=params.companyNo">
    			And company_no=#{params.companyNo}
    		</if>
    		<if test="null!=params.supplierNo and ''!=params.supplierNo">
    			And supplier_no=#{params.supplierNo}
    		</if>
    		<if test="null!=params.settleMonth and ''!=params.settleMonth">
    			And settle_month=#{params.settleMonth}
    		</if>
    		<if test="null!=params.costNo and ''!=params.costNo">
    			And cost_no=#{params.costNo}
    		</if>
    		<if test="null!=params.settleStartDate and ''!=params.settleStartDate">
    			And settle_start_date=#{params.settleStartDate}
    		</if>
    		<if test="null!=params.settleEndDate and ''!=params.settleEndDate">
    			And settle_end_date=#{params.settleEndDate}
    		</if>
    		<if test="null!=params.number and ''!=params.number">
    			And number=#{params.number}
    		</if>
    		<if test="null!=params.status and ''!=params.status">
    			And status=#{params.status}
    		</if>
    		<if test="null!=params.remark and ''!=params.remark">
    			And remark=#{params.remark}
    		</if>
    		<if test="null!=params.createTime and ''!=params.createTime">
    			And create_time=#{params.createTime}
    		</if>
    		<if test="null!=params.createUser and ''!=params.createUser">
    			And create_user=#{params.createUser}
    		</if>
    		<if test="null!=params.auditor and ''!=params.auditor">
    			And auditor=#{params.auditor}
    		</if>
    		<if test="null!=params.auditTime and ''!=params.auditTime">
    			And audit_time=#{params.auditTime}
    		</if>
    		<if test="null!=params.updateTime and ''!=params.updateTime">
    			And update_time=#{params.updateTime}
    		</if>
        </if>
    </sql>
    
    <sql id="uniqe_condition">   
        1=1  
    </sql>
    
    
    <select id="findByPrimaryKey" resultMap="baseResultMap" > 
		SELECT
		<include refid="column_list" />
		FROM fas_shop_cost
		WHERE id = #{id};
	</select>
    
    <select id="findByUnique" resultMap="baseResultMap" > 
		SELECT
		<include refid="column_list" />
		FROM fas_shop_cost
		WHERE  <include refid="uniqe_condition" />
	</select>
    
    <select id="findByParam" resultMap="baseResultMap" parameterType="map"> 
		SELECT
		<include refid="column_list" />
		FROM fas_shop_cost
		WHERE  <include refid="condition" />
        
	</select>
    
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1) as s FROM fas_shop_cost WHERE 
		<include refid="condition" />
	</select>
    
	<select id="selectByPage" resultMap="baseResultMap" parameterType="map">
		SELECT
		<include refid="column_list" />
		FROM fas_shop_cost WHERE 
		<include refid="condition" />
		<if test="orderby != null and ''!=orderby">
			ORDER BY ${orderby} 
		</if>
		LIMIT #{page.startRowNum} ,#{page.pageSize}
	</select>
    
	<select id="selectByParams" resultMap="baseResultMap" parameterType="map">
		SELECT
		<include refid="column_list" />
		FROM fas_shop_cost WHERE 
		<include refid="condition" /> 
        <if test="orderby != null and ''!=orderby">
			ORDER BY ${orderby}
		</if>
	</select> 
    
    <delete id="deleteByPrimaryKey">
		DELETE FROM fas_shop_cost
		WHERE id = #{id}
	</delete>
    
    <delete id="deleteByUnique">
		DELETE FROM fas_shop_cost
		WHERE <include refid="uniqe_condition" />
	</delete> 
    
	<delete id="deleteByParams" parameterType="map">
		DELETE
		FROM fas_shop_cost
		WHERE 
        <include refid="condition" />
         <if test="params.ids!=null and ''!=params.ids ">
			AND id in ( ${params.ids} )
		</if>
	</delete>
    
    <insert id="insert" parameterType="topmall.fas.model.ShopCost"  >
		INSERT INTO fas_shop_cost
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="refId != null">
				ref_id,
			</if>
			<if test="seqId != null">
				seq_id,
			</if>
			<if test="zoneNo != null">
				zone_no,
			</if>
			<if test="shopNo != null">
				shop_no,
				company_no,
				zone_no,
			</if>
			<if test="counterNo != null">
				counter_no,
				supplier_no,
			</if>
			<if test="companyNo != null">
				company_no,
			</if>
			<if test="settleMonth != null">
				settle_month,
			</if>
			<if test="costNo != null">
				cost_no,
			</if>
			<if test="settleStartDate != null">
				settle_start_date,
			</if>
			<if test="settleEndDate != null">
				settle_end_date,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="auditor != null">
				auditor,
			</if>
			<if test="auditTime != null">
				audit_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=","> 
			<if test="id != null">
				 #{id},
			</if>
			<if test="refId != null">
				 #{refId},
			</if>
			<if test="seqId != null">
				 #{seqId},
			</if>
			<if test="shopNo != null">
				 #{shopNo},
				 (select company_no from  mdm_shop where shop_no= #{shopNo} ),
				 (select zone_no from  mdm_shop where shop_no= #{shopNo} ),
			</if>
			<if test="counterNo != null">
				 #{counterNo},
				 (select supplier_no from  mdm_counter where counter_no= #{counterNo} ),
			</if>
			<if test="settleMonth != null">
				 #{settleMonth},
			</if>
			<if test="costNo != null">
				 #{costNo},
			</if>
			<if test="settleStartDate != null">
				 #{settleStartDate},
			</if>
			<if test="settleEndDate != null">
				 #{settleEndDate},
			</if>
			<if test="number != null">
				 #{number},
			</if>
			<if test="status != null">
				 #{status},
			</if>
			<if test="remark != null">
				 #{remark},
			</if>
			<if test="createTime != null">
				 #{createTime},
			</if>
			<if test="createUser != null">
				 #{createUser},
			</if>
			<if test="auditor != null">
				 #{auditor},
			</if>
			<if test="auditTime != null">
				 #{auditTime},
			</if>
		</trim>
	</insert>
    
    <update id="update" parameterType="topmall.fas.model.ShopCost">
		UPDATE fas_shop_cost
		<set>
			<if test="refId != null">
				ref_id = #{refId},
			</if>
			<if test="seqId != null">
				seq_id = #{seqId},
			</if>
			<if test="zoneNo != null">
				zone_no = #{zoneNo},
			</if>
			<if test="shopNo != null">
				shop_no = #{shopNo},
			</if>
			<if test="counterNo != null">
				counter_no = #{counterNo},
			</if>
			<if test="companyNo != null">
				company_no = #{companyNo},
			</if>
			<if test="supplierNo != null">
				supplier_no = #{supplierNo},
			</if>
			<if test="settleMonth != null">
				settle_month = #{settleMonth},
			</if>
			<if test="costNo != null">
				cost_no = #{costNo},
			</if>
			<if test="settleStartDate != null">
				settle_start_date = #{settleStartDate},
			</if>
			<if test="settleEndDate != null">
				settle_end_date = #{settleEndDate},
			</if>
			<if test="number != null">
				number = #{number},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createUser != null">
				create_user = #{createUser},
			</if>
			<if test="auditor != null">
				auditor = #{auditor},
			</if>
			<if test="auditTime != null">
				audit_time = #{auditTime},
			</if>
		</set>
		WHERE id = #{id}
	</update>
    <!-- auto generate end-->
    
    <select id="selectGroupNum" resultMap="baseResultMap" parameterType="map">
    	SELECT
			id,ref_id,seq_id,zone_no,shop_no,counter_no,company_no,supplier_no,
			settle_month,cost_no,settle_start_date,settle_end_date,SUM(number) AS number,
			status,remark,create_time,create_user,auditor,audit_time,update_time
		FROM fas_shop_cost WHERE 
		<include refid="condition" /> 
		<choose>
			<when test="null!=params.groupCondition and ''!=params.groupCondition">
			GROUP BY ${params.groupCondition}	
			</when>
			<otherwise>
			GROUP BY cost_no
			</otherwise>
		</choose>
    </select>   
</mapper>
