<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="滔博运动城管理系统"/>
    <meta name="Description" content="滔博运动城管理系统"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <title>${title}</title>
    <#include "/fas/header.html" />

</head>
<body>
<div id="loading"><p>加载中，请稍后...</p></div>
<div data-options="fit:true,border:false" id="mainPanel" style="height:100%;">
</div>
<script>
    $(function () {
        seajs.use(["mdm_plugin","utils/plugin","shop_balance_date/shop.balance.date.view.js"]);
    });
</script>



	<div id="dtlRowContextMenu" class="easyui-menu" style="width:120px;">
	    <div id="delDtl" onClick="delDtl()" data-options="iconCls:'icon icon-bin'">删除</div>
	    <div id="reCalculator" onClick="reCalculator()" data-options="iconCls:'icon icon-calculator'">重算费用</div>
	</div>
	
	
	<div id="recalculaHisPanel" class="easyui-dialog" data-options="closed:true">
		 <form name="dialog_Form" id="dialog_Form" method="post">
		 	<table class="form-tb">
	            <col width="120" />
	            <col />
	            <tbody>
                	<tr>
                		<th>重算到新的结算月：</th>
                		<td><input class="easyui-datebox easyui-validatebox" name="newSettleMonth" id="newSettleMonth" required="true" dateFmt="yyyyMM" data-options="width:80" /></td>
                	</tr>
                </tbody>   
	        </table>    
		 </form>
	</div>
</body>
</html>
